.App {
  text-align: center;
}

.Contact-Card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: block;
  width: 20rem;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 1rem auto;
}
